@font-face {
    font-family: "helvetica";
    font-style: normal;
    font-weight: 700;
    src: local("helvetica_bold"),
      url("../fonts/helvetica_bold.otf") format("opentype"),
}

@font-face {
    font-family: "helvetica";
    font-style: italic;
    font-weight: 700;
    src: local("helvetica_boldoblique"),
      url("../fonts/helvetica_boldoblique.otf") format("opentype"),
}

@font-face {
    font-family: "helvetica";
    font-style: italic;
    font-weight: 700;
    src: local("helvetica_cyr_boldoblique"),
      url("../fonts/helvetica_cyr_boldoblique.ttf") format("truetype"),
}

@font-face {
    font-family: "helvetica";
    font-style: italic;
    font-weight: 400;
    src: local("helvetica_cyr_oblique"),
      url("../fonts/helvetica_cyr_oblique.ttf") format("truetype"),
}

@font-face {
    font-family: "helvetica";
    font-style: normal;
    font-weight: 300;
    src: local("helvetica_light"),
      url("../fonts/helvetica_light.otf") format("opentype"),
}

@font-face {
    font-family: "helvetica";
    font-style: italic;
    font-weight: 300;
    src: local("helvetica_lightoblique"),
      url("../fonts/helvetica_lightoblique.otf") format("opentype"),
}

@font-face {
    font-family: "helvetica";
    font-style: italic;
    font-weight: 400;
    src: local("helvetica_oblique"),
      url("../fonts/helvetica_oblique.otf") format("opentype"),
}

@font-face {
    font-family: "helvetica";
    font-style: normal;
    font-weight: 400;
    src: local("helvetica_regular"),
      url("../fonts/helvetica_regular.otf") format("opentype"),
}