@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("../fonts/Raleway/Raleway_medium.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: url("../fonts/Raleway/Raleway_semibold.ttf");
}

@font-face {
  font-family: "Steppe";
  font-weight: 400;
  src: url("../fonts/Steppe/Steppe.ttf");
}
